body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.logo {
    color: #e50914;
    font-size: 26px;
}

.nav button {
    background: #e50914;
    border: none;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.hero-content {
    position: absolute;
    bottom: 60px;
    left: 40px;
    z-index: 2;
}

.btn-play {
    background: white;
    color: black;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
}

/* FILAS */
.row {
    margin-top: 20px;
    padding: 20px 40px;
}

.row h3 {
    margin-bottom: 10px;
}

.row-posters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.row-posters img {
    width: 200px;
    border-radius: 4px;
    transition: transform 0.3s;
    cursor: pointer;
}

.row-posters img:hover {
    transform: scale(1.1);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: entradaSuave 1.3s ease-out forwards;
}

@keyframes entradaSuave {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* VIDEO DE FONDO */
.hero {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

/* OSCURECER UN POCO EL VIDEO */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #111 10%, rgba(0,0,0,0.4) 80%);
    z-index: 1;
}

/* CONTENIDO ENCIMA DEL VIDEO */
.hero-content {
    position: absolute;
    bottom: 60px;
    left: 40px;
    z-index: 2;
}
/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    background: #111;
    padding: 20px;
    border-radius: 6px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    animation: modalFade 0.4s ease;
}

.modal-content img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}

.modal-content p {
    color: #ccc;
    font-size: 15px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

@keyframes modalFade {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

